<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Password reset requested</h1>
  <p>Hello <%= @user.name.presence || @user.email %>,</p>
  <p>We received a request to reset your password. Use the One-Time Password (OTP) below to verify the request:</p>
  <p style="font-size: 24px; font-weight: bold;"> <%= @otp %> </p>
  <p>The OTP is valid for 10 minutes and can be used only once.</p>
  <p>Thanks,<br>Team</p>
</body>
</html>